# This is the backend specific .gitignore file
# Register files and folders that are specific to backend, to this file

# python
.venv/
.env/
.env
venv

# django
migrations/

# postgres data
.pgdata/
